#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.error {
  color: red;
}

.divider {
  margin: 1em 0;
  color: #aaa;
  font-size: 0.9em;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100vw; 
  width: 300px;
  height: 100%;
  background-color: #242424;
  color: #fff;
  padding: 2em;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  transition: right 0.3s ease;
  z-index: 2000;
}

.sidebar.open {
  position: fixed;
  top: 0;
  right: 0px; 
  width: 300px;
  height: 100%;
  background-color: #242424;
  color: #fff;
  padding: 2em;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  transition: right 0.3s ease;
  z-index: 2000;
}

.header-title {
  margin: 0;
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  flex: 1;
  color: #fff;
}

.header-btn {
  background: none;
  border: none;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s;
}

.header-logo {
  margin: auto;
  width: 3em;
  padding-bottom: 8px;
}

.main-sect {
  margin-top: 75px;
  align-items: center;
}

.output-textbox {
  background-color: #171717;
  padding: 2em;
  border-radius: 15px;
  height: 60vh;
  text-align: left;
}

.input-div {
  margin-top: 20px;
  display: flex;
  background-color: #171717;
  padding: 10px;
  border-radius: 15px;
}

.input-textbox {
  border-radius: 12px;
  width: 100%;
  height: 45px;
  align-self: center;
  background: none;
}

.input-button {
  height: 100%;
  background-color: white;
  color: black;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-contents {
  height: 100vh;
}

.page-contents {
  padding-top: 200px;
}

.tabs {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 10px solid #333;
  background-color: #111;
}

.tabs button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 20px 0;
  height: 100%;
  width: 100%;
  border-radius: 0 20px 20px 0;
  border: none;
  outline: none;
  margin: 5px 0;
  color: #333;
}

.tabs button span {
  display: inline-block;
  transform: rotate(90deg);
  white-space: nowrap;
  font-size: 20px;
}

.tabs button.active {
  background: #333;
  color: white;
}

.page-header {
  background-color: #222;
  height: 60px;
  border-bottom: 1px solid #aaa;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-shrink: 0;
  gap: 10px;
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
}

.center-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 95.55%;
  background-color: #222;
}

.center-box.sidebar-open {
  left: max(30vw, 350px);
  width: calc(100vw - max(30vw, 350px) - 70px);
}

.center-box-header {
  background-color: #222;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #333;
  border-radius: 10px;
}

.center-box-header span {
  margin: auto;
}

.header-main-text {
  font-size: 1.5em;
  font-weight: bold;
}

.icon-button {
  width: 50px;
  padding: 0;
  font-size: 30px;
  border: none;
  background: none;
}

.close-left-sidebar {
  position: fixed;
  top: 10px;
  left: calc(max(30vw, 350px) - 75px);
  width: 50px;
  padding: 0;
  font-size: 30px;
  border: none;
  background: none;
}

.center-box-content {
  background-color: #222;
  height: calc(100vh - 185px);
  width: 100%;
}

.center-box-content-explore {
  height: calc(100% - 85px);
}

.chatbox {
  background-color: #111;
  overflow-y: auto;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbox {
  background-color: #111;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.explore-topics {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
}

.explore-topics-grid {
  display: flex;
  flex-wrap: wrap;
  min-height: 0;
  width: 100%;
  justify-content: center;
}

.explore-topics-grid-item {
  margin: 5px 10px;
}

.chat-input {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 50vw;
  border-radius: 50px;
  border: 2px solid #333;
}

.hint-button {
  background-color: white;
  color: #111;
  border-radius: 30px;
}

.chat-textbox {
  margin: auto;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: none;
  background: none;
  font: arial;
  font-size: 1.2em;
  font-style: italic;
  padding: 0 5px;
}

.chat-textbox:focus {
  outline: none;
}

.center-box-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  height: 100px;
  border-top: 2px solid #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.center-box-footer.sidebar-open {
  left: max(30vw, 350px);
  width: calc(100vw - max(30vw, 350px) - 70px);
}

.first-topic-box {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  margin: 30px 10px 20px 10px;
  border: 2px solid #333;
  border-radius: 20px;
  min-height: 100px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.goal-topic-box {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  margin: 10px 20px 250px 20px;
  border: 2px solid #333;
  border-radius: 20px;
  min-height: 100px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.down-arrow-goal {
  margin: 50px;
}

.starting-topic {
  font-size: 1.75em;
  font-weight: bold;
  margin: 10px;
}

.starting-topic-label {
  font-size: 1.2em;
  margin: 10px;
  font-style: italic;
}

.topic-chat {
  background: none;
  margin: 5px 20px;
  width: 50vw;
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.chat-arrow {
  margin: auto;
  color: #ddd;
  width: 20vw;
}

.chain-topic-box {
  background-color: #444;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin: 10px;
  padding: 10px 5px;
}

.topic-box {
  background-color: #222;
  border-radius: 20px;
  width: 25vw;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #333;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 10px;
}

.topic-box-topic1 {
  background-color: #333;
  flex-grow: 1;
  padding: 15px 5em 15px 15px;
  font-style: italic;
  display: flex;
  align-items:start;
  flex-direction: column;
  word-break: break-word;
  text-align: left;
}

.topic-box-topic1-text {
  font-size: 1.5em;
}

.topic-box-leads-to {
  font-size: 0.85em;
}

.topic-box-topic2 {
  display: flex;
  align-items: center;
  justify-content: end;
}

.topic-box-topic2-text {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.2;
  display: block;
  word-break: break-word;
  text-align: right;
  padding: 5px 20px;
}

.topic-box-rating { 
  position: absolute; 
  right: 0;
  top: 0;
  background-color: #111;
  height: 1.6em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 2em;
  font-weight: bold;
}

.topic-box-is-human { 
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #111;
  height: 25px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 0 20px;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #222;
}

.left-sidebar {
  position: fixed;
  width: min(max(30vw, 350px), 100vw);
  background-color: #111;
  overflow-y: auto;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
  z-index: 1;
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
}

.left-sidebar-scroll {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.left-sidebar-label {
  margin: 30px 0;
  flex-shrink: 0;
}

.left-sidebar-element {
  margin: 12px 0;
  background-color: #222;
  width: 80%;
  flex-shrink: 0;
  padding-top: 8px;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.progress-bar-text {
  font-style: italic;
  font-weight: 200;
}

.progress-bar-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.progress-bar-number {
  font-weight: 500;
  font-size: 1.5em;
  color: #4dc;
  margin-right: 10px;
  margin-bottom: 7px;
  width: 15%;
}

.progress-bar {
  accent-color: #4dc;
  width: 100%;
  height: 50px;
  margin-left: 5px
}

.waid-text {
  margin: 10px;
  text-align: left;
  flex-grow: 1;
}

.waid-text-B {
  color: #4de;
  font-weight: 500;
  font-size: 1.05em;
}

.plain-topic-holder {
  background-color: #1a1a1a;
  padding: 5px;
  margin: 1px;
  border-radius: 10px;
}

.loading {
  border: 5px solid #444;
  border-top: 5px solid #4dc;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Mobile*/
@media (orientation: portrait) {
  
  html {
    font-size: 75%; 
  }

  .tabs {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    flex-direction: row;
    border-left: none;
    border-bottom: 10px solid #333;
  }

  .tabs button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    margin: 0 5px;
    padding: 0;
  }

  .tabs button span {
    transform: rotate(0deg);
    white-space: normal;
    text-orientation: mixed;
    letter-spacing: normal;
    transform-origin: center left;
  }

  .center-box-content {
    height: calc(100vh - 260px);
  }

  .center-box-content-explore {
    height: calc(100vh - 140px);
  }


  .page-contents {
    margin-right: 0;
    margin-top: 60px;
  }

  .left-sidebar {
    width: calc(100vw - 60px);
  }

  .chat-input {
    margin: 10px;
    width: 100%;
  }

  .topic-chat {
    width: 80%;
  }

  .topic-box {
    width: 60vw;
  }

  .search-topic-box {
    min-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .first-topic-box {
    min-width: 80%;
    word-break: break-word;
  }

  .goal-topic-box {
    min-width: 80%;
    word-break: break-word;
  }

  .close-left-sidebar {
    left: calc(100vw - 140px)
  }

  .center-box {
    top: 75px;
    width: 100%;
  }

  .center-box.sidebar-open {
    left: 0;
    width: 100%;
  }
}